@font-face{
    font-family: 'JetBrains';
    src: url('assets/JetBrainsMono-Regular.ttf') format('truetype')
}

body{
    background-color: royalblue;
    font: normal 16pt "JetBrains";
    color: aliceblue;
    text-align: center;
}

section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    color:black;
    margin-bottom: 12px;
}
